.stock-search {
  width: 300px;
  margin: 5px auto;
  position: relative;
}

.search-input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.suggestions-list {
  position: absolute;
  color : black;
  top: 100%;
  left: 0;
  width: 100%;
  background: lightcyan;
  border: 1px solid #ccc;
  max-height: 500px;
  overflow-y: auto;
  z-index: 100;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
  list-style-type: none;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

.suggestions-list::-webkit-scrollbar {
  width: 10px;
}

.suggestions-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}